@using RunGroopWebApp.ViewModels
@model EditUserDashboardAddressViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="EditUserProfileAddress">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Street">Street</label>
        <input asp-for="Street" class="form-control" placeholder="Street" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" placeholder="City" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="County">County</label>
        <input asp-for="County" class="form-control" placeholder="County" />
        <span asp-validation-for="County" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Postcode">Postcode</label>
        <input asp-for="Postcode" class="form-control" placeholder="Postcode" />
        <span asp-validation-for="Postcode" class="text-danger"></span>
    </div>

    <button type="submit" class="btn-primary">Submit</button>
</form>





